<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Movie Details</title>
</head>
<body>
<div class="background">
    <div class="nav-div">
        <%- include('../partials/_navbar.ejs') %>
    </div>
    <div class="content">
        <div class="movie-detail-info-container" id="movieDetails" data-movie-id="<%= movieId %>"></div>
        <div class="review-section">
            <h2>Reviews:</h2>
            <div class="review-container" id="reviewContainer">
                <% if(reviews.length === 0){ %>
                    <p>No Reviews</p>
                <% } else { %>
                    <ul>
                        <% reviews.forEach(review => { %>
                          <li>
                            <strong><%= review.userId.username %>:</strong> <%= review.content %> <em>(<%= review.createdAt.toDateString() %>)</em>
                          </li>
                        <% }) %>
                    </ul>
                <% } %>
                <h3>Add a Review:</h3>
                <form id="reviewForm" action="/users/<%= user._id %>/movies/<%= movieId %>/add" method="POST">
                    <textarea name="content" id="reviewContent" rows="4" cols="50" placeholder="  Write your review here..."></textarea>
                    <button type="submit">Add Review</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <script src="/index.js"></script>
</body>
</html>